// Typical settings for all charts

.chart {
  .axis.left {
    .title {
      transform: rotate(270deg);
    }
  }
  .axis.right {
    .title {
      transform: rotate(90deg);
    }
  }
}

// Settings for our specific chart

.chart {
  max-width: 1332px;

  .axis {
    .line {
      stroke: grey;
    }
    .tick {
      stroke: grey;
    }
  }

  .some-x-axis {
    .text {
        text-anchor: start;
        transform: rotate(45deg);
    }
    .title {
      transform: translatey(2em);
    }
  }
    
  .series.some-series {
    stroke: green;
    stroke-width: 2px;

    text {
      stroke: none;
      stroke-width: 1px;
    }
  }

  .series.bar-chart {
    stroke-width: 30px;
  }
}
